html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}


		#all{
			max-width: 750px;
			margin: 3px auto;
			background: #fff;
			box-shadow: 0 0 3px 2px #9A9D8C;
			border-radius: 10px 10px 0 0;
			border: 1px solid gold;
                        padding: 2px;
		}

body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
body{background:#ddd;font-family:arial, sans-serif;color:#799558;font-size:15px; margin: 5px auto; padding-right:10px;padding-left:10px}
a{text-decoration:none;color:#9c9c9c}
a:hover{text-decoration:underline; color: #CC0000;}
.clickable{cursor:pointer}
.inline{display:inline}
.clear{clear:both}
.break{clear:both;margin:10px 0}
.no_border{border:0!important}
.hide{display:none}
.required{color:red}
.good{color:gold;font-weight:700}
.bad{color:red;font-weight:700}
.pad{padding:10px}
.pad_side{padding:0 10px}
.pad_top{padding:10px 0}
.margin_side{margin:0 5px}
.margin_right{margin-right:5px}
.margin_bottom{margin-bottom:5px}
.left{float:left}
.right{float:right}
.half{float:left;width:425px}
.text_left{text-align:left}
.text_center{text-align:center}
.text_right{text-align:right}
.small{font-size:12px}
.dashed_break{background:url(../img/bg/dotted.png) center top no-repeat;height:24px;width:100%;margin:5px 0}
.bold{font-weight:700}
.unspaced{line-height:15px}
.inline_img{vertical-align:middle}
.light_gold{color:#93ad2a}
.gold{color:#6c8d14}
.orange{color:#f36b28}
.dark{color:#4a484a}
.blue{color:gold}
h1{font-size:27px; 
padding-bottom:2px; 
border-bottom:0px solid #ebeaeb; 
margin: 1px auto; 
text-shadow:#eee 1px 1px; }

.buy{text-shadow: maroon 1px 1px; }


h2{font-size:25px;font-weight:400}
h3{font-size:20px}
h4{font-size:16px}
h5{color:#606060;font-size:18px;line-height:30px}
.error-message{height:30px;float:left;line-height:30px;font-weight:700}
input{border:0}
.submit input{background:#f25711;color:#fff;font-weight:700;padding:5px 20px}
.input_wrapper{background:url(../img/bg/input/generic/bg.png) repeat-x;height:39px;width:340px;color:#8f8f8f}
.input_wrapper input{height:27px;margin-top:1px;float:left;width:210px;padding-top:8px;color:#8f8f8f}
.input_wrapper select{margin-top:10px;background:#fff;border:0;width:210px}
.input_wrapper label{line-height:39px;float:left;width:100px;font-weight:700;color:#4a484a}
label{font-weight:700;color:#4a484a}
textarea{border:1px solid #c9d0da;width:340px;color:#8f8f8f}
.big_textarea{border:1px solid #c9d0da;width:700px;color:#8f8f8f}
.regular_select{background:#fff}
.regular_input{border:1px solid #dfdfdf;width:200px}
.big .input_wrapper{width:600px}
.big .input_wrapper input{width:470px}
.message{color:red;text-align:center;font-weight:700;line-height:30px}
.list li{margin:5px 0}
.spaced,.valign{line-height:20px}

.input_wrapper .time select,.input_wrapper .date select{width:auto}
input,textarea,select{margin:1px;border:1px solid #ddd;max-width:80%;background:#fff;color:grey;font-size:small;}
input[type='submit']{color : #5d5d5d;
background-color : #fbfbfb;
background-repeat : repeat-x;
border : 1px solid #ededed;margin:1px;}
input:hover, input:focus{  -moz-box-shadow: 0 0 10px #6699ff;
-webkit-box-shadow: 0 0 10px #00ff00;
box-shadow: 0px 0px 10px #00ff00;
}

#container{max-width:320px;background:url(../img/bg/container.gif) repeat-y;margin:0 auto}
#footer{max-width:320px;margin:0 auto;padding:10px 0}
#header{padding-top:30px}
#header .logo{float:left}
#header .nav a{color:#76757a}
#header .hover a{color:#fff}
#header .nav{float:right;padding-top:25px;padding-right:30px}
#header .nav img{visibility:hidden}
#header .nav ul{list-style-type:none}
#header .nav li{float:left;margin:0}
#header .nav div{height:27px;line-height:27px;padding:0 5px}
#header .hover{background:#f25711;color:#fff}
#header .hover img{visibility:visible}
#main{background:url(../img/bg/rounded/main/bg.png) repeat-y;height:100%}
#main .main_bottom{background:url(../img/bg/rounded/main/bottom.png) bottom no-repeat;height:100%}
#members_dash{width:268px;margin-top:30px}
#members_dash .top{background:url(../img/bg/rounded/members/top.png) no-repeat;width:208px;height:52px;line-height:58px;padding-left:60px;font-size:17px}
#members_dash .content{background:url(../img/bg/rounded/members/bottom.png) bottom no-repeat;width:268px;padding-bottom:10px}
#members_dash .inner{background:url(../img/bg/rounded/members/bg.png) repeat-y;width:248px;padding:10px}
#members_dash .input_container .input{background:url(../img/bg/input/members/bg.png) repeat-x;height:39px;float:left;line-height:39px}
#members_dash .input_container .input label{color:#949292;font-weight:700}
#members_dash .input_container .input input{border:0;background:none;color:#7b7878;padding-left:5px;width:150px}
#members_dash label{color:#949292}
#main .main_home{background:url(../img/bg/rounded/main/home.png) top no-repeat;height:100%}
#main .main_generic{background:url(../img/bg/rounded/main/generic.png) top no-repeat;height:100%}
#home_top{height:306px;color:#fff}
#home_top .left_col{width:520px;float:left;padding:80px 35px 0}
#home_top .left_col h2{font-size:19px;line-height:35px;font-weight:400}
#home_top .left_col p{line-height:25px;padding:5px}
#home_top .right_col{width:290px;float:left}
#home_content .left_col{float:left;width:525px;padding:50px 40px}
#home_content .right_col{float:left;width:243px;border-left:1px solid #ebeaeb;padding:20px}
#home_content .right_col .blog{background:url(../img/icons/news.png) left no-repeat;padding:10px 0 10px 40px}
#home_content .right_col .blog1{background:url(../img/icons/blog1.png) left no-repeat;padding:10px 0 10px 40px}
#home_content .right_col .blog2{background:url(../img/icons/blog2.png) left no-repeat;padding:10px 0 10px 40px}
#home_content .right_col .blog_item{background:#f6f6f7;border-bottom:1px dotted #9d9d9d;padding:13px}
#home_content .right_col .blog_read_more{color:#f25711;font-weight:700;text-decoration:underline}
#home_features .feature{float:left;width:150px;margin-left:5px;font-size:12px;background-position:left;background-repeat:no-repeat;color:#626062;padding:20px 0 20px 105px}
#home_features .core{background-image:url(../img/icons/core.png)}
#home_features .scalable{background-image:url(../img/icons/scalable.png)}
#home_features .on_time{background-image:url(../img/icons/on_time.png)}
#home_features .financial{background-image:url(../img/icons/financial.png)}
#generic_top{height:190px;color:#fff}
#generic_top .left_col{width:540px;float:left;padding:60px 35px 0}
#generic_top .left_col h2{font-size:17px;line-height:35px;font-weight:400}
#generic_top .right_col{width:220px;float:left;padding-top:60px}
#generic_content{padding:20px}
#feature_list{color:#626062;padding:0}
#feature_list .feature{float:left;width:370px;padding:20px}
.small_box_out{background:url(../img/bg/rounded/small/bg.png) repeat-y;height:81px;width:243px;float:left}
.small_box{background:url(../img/bg/rounded/small/top.png) top no-repeat;height:81px}
.small_box_in{background:url(../img/bg/rounded/small/bottom.png) bottom no-repeat;height:81px;padding-top:5px}
.small_box2_out{background:url(../img/bg/rounded/small2/bg.png) repeat-y;height:81px;width:333px;float:left;margin:0 25px 0 20px}
.small_box2{background:url(../img/bg/rounded/small2/top.png) top no-repeat;height:81px}
.small_box2_in{background:url(../img/bg/rounded/small2/bottom.png) bottom no-repeat;height:81px;padding-top:5px}
.small_box_tracking{background-image:url(../img/icons/tracking.png)}
.small_box_pie{background-image:url(../img/icons/pie.png)}
.small_box_customize{background-image:url(../img/icons/customize.png)}
.small_box_tools{background-image:url(../img/icons/tools.png)}
.small_box_refresh{background-image:url(../img/icons/refresh.png)}
.small_box_stats{background-image:url(../img/icons/stats.png)}
#home_top .left_col h1,#generic_top .left_col h1{font-size:25px;line-height:35px}
.small_box_content,.small_box2_content{background-position:left 5px;background-repeat:no-repeat;height:100%;padding:8px 10px 8px 75px}
.blog_item .spaced h3 { font: bold 13px "Arial", sans-serif; }

.inf, .success, .warning, .errors, .validation {
border: 1px solid;
margin: 5px 0px;
padding:5px 15px 5px 30px;
background-repeat: no-repeat;
background-position: 5px center;
}
.inf {
color: #00529B;
background-color: #BDE5F8;
background-image: url('../img/inf.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../img/success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../img/warning.png');
}
.errors {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../img/errors.png');
}



.l1 {background:url(../img/bg/rounded/main/generic.png); no-repeat;}

.hhh {color: #0084b5; text-shadow: #000000 1px 1px 2px; background-color: #000406; background-repeat: repeat-x; background-position: 50% top; margin-top: 1px; margin-bottom: 1px; padding: 2px; border: 1px solid #005064; margin: 1px;}

.copy {color: #0084b5; text-align:center; text-shadow: #000000 1px 1px 2px; background-color: #000406; background-image: url(http://bluesea.jw.lt/css/jcms/bmenu.gif); background-repeat: repeat-x; background-position: 50% top; margin-top: 1px; margin-bottom: 1px; padding: 2px; border: 1px solid #005064; margin: 1px; }

.update { color: black; border-bottom-width: 1px; border-bottom-color: silver; border-bottom-style: solid; padding-top: 4px; padding-bottom: 3px; font-size: small; font-weight: Normal; font-style: Normal; text-decoration: None; }

.mt { color: #fff; padding: 5px; font-weight: bold; margin-top: 1px; text-transform: capitalize; }


.wcode { background-color: #9932cc; color: white; border-width: 1px; border-style: solid; }

.copy{background-color:#FFFACD;border:1px solid #BBFFFF;color:#FF7F00;padding:3px;margin:1px;text-align:center;}.bar{color:#fff; padding:5px;font-weight:bold;margin-top:1px;text-transform:capitalize;}

.ff{padding:1px;margin-bottom:1px;margin-top:1px;border:1px solid #E3E3E3;color:#888;}

.tt{background:#fef9ef;padding:2px 5px;margin-left:0px;color:#4197B3;border:1px solid #EBDE97;color:#c39262;}

.hh{background:#580109; padding:3px; margin-bottom:1px; color:#af9c13; border-radius: 10px 10px 0 0;}.hh a{color:#3E8822;}
.hh2{background:#580109; padding:3px; margin-bottom:1px; color:#ccc;}.hh a{color:#3E8822;}

.tr {background-color:#ECF5FF; border-bottom: 1px solid #307D7E;
padding: 3px; margin-bottom:1px; font-family:Verdana,Arial,sans-serif; color: maroon; font-weight: bolder;}

.b{background:url(../img/icons/news.png) left no-repeat;padding:10px 0 10px 40px}
.b_item{background:#f6f6f7;border-bottom:0px dotted #9d9d9d;padding:5px; margin-bottom:1px;}
.bg{background:#f6f6f7;border-bottom:0px dotted #9d9d9d;padding:5px; margin-bottom:1px;}
.bg1{background:#f6f6f7;border-bottom:0px dotted #9d9d9d;padding:5px; margin-bottom:0px;}
.bg2{background:#fbfbfb;border-bottom:0px dotted #9d9d9d;padding:5px; margin-bottom:0px;}
.bg3, .lwt{background:#fbfbfb;border-bottom:0px dotted #9d9d9d;padding:5px; margin-bottom:2px;}
.update, .lgn, .blk, .menu {background:#f8f8f8;border-bottom:0px dotted #9d9d9d;padding:5px; margin-bottom:2px;}
.content{background:#f8f8f8;border-bottom:0px dotted #9d9d9d;padding:5px; margin-bottom:2px;}

.pub{background:url(../img/icons/service.png) left no-repeat;padding:10px 0 10px 40px}
.pub_item{background:#f6f6f7;border-bottom:0px dotted #9d9d9d;padding:5px}

.b2{background:url(../img/icons/blog1.png) left no-repeat;padding:10px 0 10px 40px}
.b2_item{background:#f6f6f7;border-bottom:1px dotted #9d9d9d;padding:5px; margin-bottom:3px;}

.s2{background:url(../img/icons/blog2.png) left no-repeat;padding:10px 0 10px 40px}
.s2_item{background:#f6f6f7;border-bottom:0px dotted #9d9d9d;padding:5px}

.m2{background:url(../img/icons/menu.png) left no-repeat;padding:10px 0 10px 40px}
.m2_item{background:#f6f6f7;border-bottom:0px dotted #9d9d9d;padding:5px}
.login{background:url(../img/login.png) left no-repeat;padding:10px 0 10px 40px}
.sms{background:url(../img/Messages.png) left no-repeat;padding:10px 0 10px 40px}
.info{background:url(../img/info.png) left no-repeat;padding:10px 0 10px 40px}
.publish{background:url(../img/pub.png) left no-repeat;padding:10px 0 10px 40px}
.ad{background:url(../img/ad.png) left no-repeat;padding:10px 0 10px 40px}
.set{background:url(../img/set.png) left no-repeat;padding:10px 0 10px 40px}
.new{background:url(../img/new.png) left no-repeat;padding:10px 0 10px 40px}
.html{background:url(../img/html.png) left no-repeat;padding:10px 0 10px 40px}
.buyp{background:url(../img/buy.png) left no-repeat;padding:10px 0 10px 40px}
.pincode{background:url(../img/pin.png) left no-repeat;padding:10px 0 10px 40px}

hr {
  background:none; border:dotted 1px #6c8d14; border-width:1px 0px 0 0; height:0; width:50%; margin:5px 0px 0px 0px; padding-top:0px; padding-bottom:0px;
}

li{
font-family: Times New Roman, Georgia, Times, Serif;
color: #799558;
font-size: 16px;
margin-top: 3pt;
margin-bottom: 3pt;
}

.error, .copyright {
    border: 1px solid rgb(236, 236, 236);
    padding: 3px;
    background: none repeat scroll 0% 0% rgb(255, 204, 255);
    margin: 3px;
    color: red;
    text-align: center;
}

.shadow { text-shadow:
gray 1px
1px;}

.bgg, .copy, .line, .phdr{background:#f4f4f4;border-bottom:1px solid #9f9f9f;padding:5px; margin-bottom:0px; color: maroon; text-align: center; text-shadow: gray 1px 1px;}

.note {
  background: #e8ffcf;
  padding: 6px;
  margin-bottom: 1px;
  border-radius: 6px;
}
